<div class="content-block">

  <div>
    <div style="margin-bottom:10px; padding:10px; border-bottom: 1px solid rgba(0, 0, 0, 0.06);">
 		<div style="padding:10px">
	      Search: <input type="search" ng-model="query">
 		</div>
 		<div style="padding:10px">
	      Sort by:
		  <select ng-model="orderProp">
			  <option value="name">Alphabetical</option>
			  <option value="duration">Duration</option>
			  <option value="rating">Rating</option>
		  </select>
		
 		</div>
    </div>

<div class="content-block-list">
    <div class="content-block-list-row">
          <div ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" class="recipe-row">
          	<div class="row">
          		<div class="column" >
          			<div class="recipe-row-info">
	       	            <a href="#/recipes/{{recipe.id}}" class="recipe-img"><img alt="no image" ng-src="{{getImageUrl(recipe.imageUrl)}}"></a>
				         <div style="position:relative;left:120px">
				            <a class="recipe-name" href="#/recipes/{{recipe.id}}">{{recipe.name}}</a><br/>
							<div>Dauer: {{recipe.duration}}</div>
							<div>Bewertung:<span style="color:red;">{{recipe.rating | rating}}</span></div>
				            <div>{{recipe.snippet}}</div>
		            	</div>
	            	</div>
          </div>
    	</div>
  </div>
</div>  
</div>
</div>