
.content-block-filter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px;
    margin: 10px
}

.content-block-list-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-top: 0px 1.5rem;

}

.recipe-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	padding: 10px 1.5rem;
	margin: 10px;
}

.row {
    width: auto;
    margin: 0px -1rem;
    max-width: none;
}

.recipe-row-info {
    padding-left: 1rem;
    min-height: 5rem;
    position: relative;
    line-height: 1.5rem;
    z-index: 0;
}


.recipe-name {
    padding-top: 4px;
    margin-right: 4rem;
    max-width: 22rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: both;
    font-size: 1.5rem;
    color: #333;
    line-height: 1.5rem;
  
}


.recipe-img {
	border-radius: 3px;
	display: block;
	max-height: 80px;
	width: 80px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	
}
