<!doctype html>
<html lang="en" ng-app="iCookingApp">
<head>
  <meta charset="utf-8">
  <title>iCooking</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="CookingRecipesController">

  
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul>
    <li ng-repeat="recipe in recipes | filter:query">
      <span>{{recipe.name}}</span>
      <p>{{recipe.snippet}}</p>
    </li>
  </ul>

    </div>
  </div>
</div>  
  
  

</body>
</html>
